header{
    background-color: #333333;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);    
}

/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    header {
      padding: 10px;
    }
  }
  
  /* Estilos para telas menores que 480px */
  @media (max-width: 480px) {
    header {
      padding: 5px;
    }
  }

header nav#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1240px;
    margin: 0 auto;
    padding: 0 4rem;
    height: 80px;
}

header nav#navbar .nav-brand{
    display: flex;
    align-items: center;

    gap: 1rem;
}

header nav#navbar .nav-brand h1{
    font-family: "Grenze", serif;
    font-weight: 400;
    font-size: 2rem;
}

header nav#navbar .nav-brand img{
    max-width: 42px;
    height: auto;
    border-radius: 50%;
}

header nav#navbar ul.nav-list{
    display: flex;
    align-items: center;

    list-style: none;
    gap: 1rem;
    font-family: 'Roboto', sans-serif;
}

header nav#navbar ul.nav-list li a{
    color: #ccc;
    font-size: 1.1rem;
    transition: color 0.3s;
}

header nav#navbar ul.nav-list li a:hover{
    color: white;
    transition: color 0.3s;
}